/* Уважаемый ревьер. В прошлом вашем комментарии мне был написан комментарий, что должно быть использовано
только три начертание Но в ходе работы я выявил, что в макете используют 4-е, возможно не совсем
корректно использовать подключение там где он используется всего пару раз. */

/* Задействован 2 раза */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(./Inter-Medium.woff2) format("woff2"),
       url(./Inter-Medium.woff) format("woff");
}

/* Задействован 4 раза */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Inter-Bold.woff2) format("woff2"),
       url(./Inter-Bold.woff) format("woff");
}

/* Задействован 36 раз */
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(./Inter-Black.woff2) format("woff2"),
       url(./Inter-Black.woff) format("woff");
}

/* Задействован 138 раза */
@font-face {
  font-family: 'Inter';
font-style: normal;
font-weight: normal;
  font-display: swap;
  src: url(./Inter-Regular.woff2) format("woff2"),
       url(./Inter-Regular.woff) format("woff");
}
