.cover {
  position: relative;
  padding-bottom: 50%;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  margin-top: 92px;
  margin-left: 48px;
  margin-right: 48px;
}

@media screen and (max-width: 1279px) {
  .cover{
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .cover{
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 64px;
  }
}
