.cover__title {
  max-width: 43.75%;
  margin: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    max-width: 54.68%;
}

@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 72.91%;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 79%;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
