/* Уважаемая, МАрина! Переправерил GAP по макету. Значения проставил по макету и изменил их местами. Как  Вы и рекомендовали.
Для значения до 1279 gap-column: 32px.  Для значения до 767 gap-column: 28px. Поскольку данные различаются данный медиа запрос на 25
строчке кода не требует удаления. Возможно где-то мы с вами ошиблись. Хорошего дня! :) */

.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 48px 40px;
  margin: 0 0 80px 0;
}

.place:nth-last-of-type(1) {
  padding-bottom: 0px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px minmax(min-content, max-content);
    gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px minmax(min-content, max-content);
    gap: 48px 28px;
    padding-bottom: 72px;
}
}

@media screen and (max-width: 767px) {
    .place {
      grid-template-columns: repeat(1, minmax(min-content, max-content));
      grid-template-rows: repeat(3, minmax(min-content, max-content));
      gap: 32px;
      padding-bottom: 48px;
      margin: 0;
  }
}
